/* =========================
   EB LIPE - SOBRE
========================= */


body{

background:#050705;

color:white;

font-family:'Inter',sans-serif;

}



.about-container{

width:90%;

max-width:1200px;

margin:60px auto;

}




.about-box{

background:#101410;

border:1px solid #252b25;

padding:40px;

border-radius:20px;

margin-bottom:50px;

}



.about-box h2,
.history h2{

font-size:35px;

color:#c8a951;

margin-bottom:20px;

}



.about-box p,
.history p{

color:#aaa;

font-size:17px;

line-height:1.8;

}






.about-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}




.about-card{

background:#101410;

border:1px solid #252b25;

border-radius:20px;

padding:30px;

transition:.3s;

}



.about-card:hover{

transform:translateY(-8px);

border-color:#1f7a3f;

}



.about-card h3{

font-size:25px;

color:#c8a951;

}



.about-card p{

color:#aaa;

line-height:1.6;

}





.history{

margin-top:60px;

background:#101410;

padding:40px;

border-radius:20px;

border:1px solid #252b25;

}




@media(max-width:900px){


.about-grid{

grid-template-columns:1fr;

}


}