/* =========================
   EB LIPE - STATS
========================= */


.stats {

    width: 88%;

    margin: 0 auto;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 25px;

    padding: 40px 0;

}





.stat-card {

    background: var(--card);

    border: 1px solid var(--border);

    border-radius: 18px;

    padding: 35px 20px;

    text-align: center;

    transition: 0.3s;


}




.stat-card:hover {


    transform: translateY(-8px);

    border-color: var(--primary);


}







.stat-card h3 {


    font-size: 45px;

    font-weight: 800;

    color: var(--secondary);

    margin-bottom: 10px;


}







.stat-card p {


    color: var(--text-gray);

    font-size: 15px;

    font-weight: 500;


}







/* Responsivo */


@media(max-width:1000px){


    .stats {


        grid-template-columns: repeat(2,1fr);


    }


}



@media(max-width:600px){


    .stats {


        grid-template-columns: 1fr;


    }


}